{{ define "main" }}
<div class="row justify-content-center">
    <div class="col-4 profile">
        <figure>
            <img class="img-thumbnail avatar" src="/img/avatar.png" alt="Profile image of Arun Biradar" />
            <div class="dropdown-divider divider"></div>
            <figcaption>
                <h3>郑鹤</h3>
                <div>爱奇艺：前端工程师</div>
                <div>毕业于：外经贸、人民大学👻👻</div>
            </figcaption>
            <ul class="social-icon-list">
                <li>
                    <a href="https://www.linkedin.com/in/%E9%B9%A4-%E9%83%91-10bb24130/">
                        <i class="social-icon fa fa-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/zhengheha">
                        <i class="social-icon fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/ZhengHe-MD">
                        <i class="social-icon fa fa-github"></i>
                    </a>
                </li>
            </ul>
        </figure>
    </div>
</div>
{{ end }}